.clothes {
  display: flex;
  flex-direction: column;
  margin-top: 17px;
}

.clothe_subcontainer {
  display: flex;
  flex-direction: row;
}

.clothes_title {
  margin: 0;
  font-size: 20px;
  font-weight: 700;
}

.clothes_button {
  margin: 0 0 2px 20px;
  color: rgba(0, 0, 0, 0.6);
  border: none;
  background-color: white;
  padding: 0;
  font-size: 20px;
  font-weight: 700;
  opacity: 0.6;
  cursor: pointer;
}

.clothes_card-container {
  grid-row: 1;
  grid-column: 2;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  column-gap: 17px;
  row-gap: 20px;
}
