.clothes {
  display: flex;
  font-size: 16px;
  font-family: "Familjen Grotesk", sans-serif;
  gap: 20px;
  padding: 68px 0 0 0;
}

.clothes_title {
  font-size: 20px;
  margin: 0;
  align-self: center;
}

.clothes_button {
  line-height: 25px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-family: "Familjen Grotesk", sans-serif;
  color: rgba(0, 0, 0, 0.6);
  padding: 0;
  cursor: pointer;
  transition: 0.15s ease-in-out;
}

.clothes_button:hover {
  color: rgba(0, 0, 0, 0.3);
  transform: scale(105%);
}
